#bg-container {
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: -1;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.section-title {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    margin-top: 20vh;
    text-shadow: 0 0 5px #000;
}

.full-screen-page {
    width: 100%;
    height: 100vh;
}

#start-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Patrick Hand', cursive;
}

#start-page-bg {
    content: " ";
    background-image: url("img/Border.png");
    background-position: top;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

#start-msg-en {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition-property: opacity, transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}

h1 {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

h3:lang(ja) {
    font-family: 'Kosugi Maru', sans-serif;
}

h4 {
    font-family: 'Patrick Hand', cursive;
}

#start-page-svg svg {
    width: 100%;
}

#scroll-arrow-hint {
    position: absolute;
    bottom: 25vh;
    opacity: 0;
}

#scroll-arrow-hint span {
    display: block;
    width: 24px;
    height: 24px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

#scroll-arrow-hint span:nth-child(2) {
    animation-delay: -0.2s;
}

#scroll-arrow-hint span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

@keyframes pathAnimation {
    to {
        stroke-dashoffset: 0;
    }
}

#drawpile-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#drawpile-image {
    width: 100%;
    object-fit: scale-down;
    max-width: 1920px;
}

#cover-mix-player-container {
    display: flex;
    justify-content: center;
}

.video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 1280px;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#birthday-msgs {
    margin: 20px;
}

.birthday-msg-card-container {
    margin-bottom: 10px;
}

.birthday-msg-card {
    padding: 10px;
    box-shadow: 5px 0px 20px -5px rgba(0, 0, 0, 0.75);
}

.birthday-msg p {
    white-space: pre-wrap;
}

blockquote:lang(ja)>p {
    font-family: 'Kosugi Maru', sans-serif;
}

blockquote>p {
    font-family: 'Architects Daughter', cursive;
}

#end-page {
    height: 150vh;
}

#end-page-filler {
    height: 15vh;
}

#final-msg-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
}

#final-msg {
    color: white;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    text-shadow: 0 0 5px #000;
}

#final-msg *:lang(ja) {
    font-family: 'Kosugi Maru', sans-serif;
}

.sender-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sender-name-container {
    flex: 1;
    min-width: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.sender-name {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.twitter-name {
    font-size: 1rem;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flag-icon {
    font-size: 1.75rem;
    box-shadow: 0 0 5px black;
}

.shooting-star-img {
    margin-left: 15px;
    width: 39px;
}

img.ankimo-img {
    width: 39px;
}

#credits {
    background-color: black;
    color: white;
    font-family: 'Patrick Hand', cursive;
    padding: 15px;
}

#credits .card-columns {
    column-count: 3;
    transform: translateZ(0);
}

#credits .card {
    background-color: unset;
}

#credits p {
    margin-bottom: 0;
}

#start-page-svg {
    visibility: hidden;
    max-width: 620px;
    width: 75vh;
}

@media (max-width: 700px) {
    #birthday-msgs .card-columns {
        column-count: 1;
    }
    #start-page-svg {
        max-width: 100%;
    }
    #credits .card-columns {
        column-count: 2;
    }
}

@media (min-width: 700px) {
    #birthday-msgs .card-columns {
        column-count: 2;
    }
    #start-page-svg {
        max-width: 620px;
    }
}

@media (min-width: 1000px) {
    #birthday-msgs .card-columns {
        column-count: 3;
    }
    #start-page-svg {
        max-width: 75vh;
    }
}

@media (min-width: 1400px) {
    #credits .card-columns {
        column-count: 4;
    }
}