body {
    font-family: "Patrick Hand", cursive;
}

*:lang(ja) {
    font-family: 'Kosugi Maru', sans-serif;
}

#bg-container {
    width: 100vw;
    height: 100vh;
    /* -webkit-transform: translateZ(0);
    transform: translateZ(0); */
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

#bg {
    width: 96vw;
    height: 96vh;
    background-image: url('img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bg-inner-box {
    border-color: white;
    border-style: solid;
    border-width: thick;
    border-radius: 15px;
    width: 95%;
    height: 95%;
}

#init-page {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #AC8367;
    display: flex;
    align-items: center;
    justify-content: center;
}

#door-hint {
    position: absolute;
    left: 8%;
    top: 39%;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

@keyframes ldio-7p7zzvmvrrd {
    0% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 5px;
        left: 5px;
        width: 70px;
        height: 70px;
        opacity: 0;
    }
}

.ldio-7p7zzvmvrrd div {
    position: absolute;
    border-width: 10px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-7p7zzvmvrrd 2.2222222222222223s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ldio-7p7zzvmvrrd div:nth-child(1) {
    border-color: #ffffff
}

.ldio-7p7zzvmvrrd div:nth-child(2) {
    border-color: #f8f8f8;
    animation-delay: -1.1111111111111112s;
}

.loadingio-spinner-ripple-3zk4unnnmgj {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-7p7zzvmvrrd {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-7p7zzvmvrrd div {
    box-sizing: content-box;
}

#door-container {
    /* background-color: #333; */
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 223px;
    /* If user resizes the screen */
    transition: all 0.5s ease-in-out;
}

#door-frame {
    background-image: url('img/door_frame.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

#door {
    background-image: url('img/door.png');
}

#door_back {
    background-image: url('img/door_back.png');
}

#door, #door_back {
    /* background-color: brown; */
    background-size: cover;
    position: absolute;
    bottom: 3%;
    left: 13.5%;
    transform-origin: right;
    /*Speed of the Door animation*/
    transition: all 0.5s ease-in-out;
    width: 149px;
    height: 184px;
    cursor: pointer;
}

#door_back:hover ~ #door:not(.open) {
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-15deg);
}

#door:hover:not(.open) {
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-15deg);
}

#door.open {
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

#white-full {
    opacity: 0;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.placeholder {
    height: 50vh;
}

#welcome-msg {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 2em;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

#scroll-arrow-hint span {
    display: block;
    width: 24px;
    height: 24px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: scrolldown 2s infinite;
}

#scroll-arrow-hint span:nth-child(2) {
    animation-delay: -0.2s;
}

#scroll-arrow-hint span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes scrolldown {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.sect-title {
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 15vh;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border-style: solid;
    border-width: thick;
    border-color: #E987AC;
    border-radius: 25px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;

    text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}

.sect-title-deco {
    background-image: url('img/aqua_chibi_2.png');
    background-size: contain;
    background-repeat: no-repeat;

    width: 4rem;
    height: 7rem;
    position: absolute;
    z-index: -1;
    right: 9px;
    bottom: -3px;
}

#cover-video-container {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* #cover-audio-container {
    width: 88%;
    margin-left: 5%;
}

#cover-audio-container audio {
    display: none;
} */

#birthday-msgs>.card-columns {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7vh;
}

.birthday-msg-card-container {
    margin-bottom: 10px;
}

.birthday-msg-card {
    padding: 10px;
    box-shadow: 5px 0px 20px -5px rgba(0, 0, 0, 0.75);
    border-style: solid;
    border-width: thick;
    border-color: #E987AC;
    border-radius: 25px;
}

.birthday-msg-card.card {
    margin-bottom: 3.7rem;
}

.birthday-msg p {
    white-space: pre-wrap;
}

blockquote>p {
    font-family: 'Architects Daughter', cursive;
}

.msg-deco {
    background-image: url('img/aqua_chibi.png');
    background-size: contain;
    background-repeat: no-repeat;

    width: 5rem;
    height: 4rem;
    position: absolute;
    top: -52px;
    left: 0;
}

.sender-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sender-name-container {
    flex: 1;
    min-width: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.sender-name {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.twitter-name {
    font-size: 1rem;
    font-style: italic;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.flag-icon {
    font-size: 1.75rem;
    box-shadow: 0 0 5px black;
}

#artbook-gallery {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#credits {
    background-color: white;
    font-family: 'Patrick Hand', cursive;
    padding: 15px;
}

#credits p {
    margin-bottom: 0;
}

.credits-section {
    padding: 15px;
}

@media (max-width: 700px) {
    #birthday-msgs .card-columns {
        column-count: 1;
    }
    #door-container {
        width: 200px;
        height: 223px;
    }
    #door, #door_back {
        width: 149px;
        height: 184px;
    }
    #door-hint {
        left: 8%;
        top: 39%;
    }
}

@media (min-width: 700px) {
    #door-container {
        width: 650px;
        height: 725px;
    }
    #door, #door_back {
        width: 486px;
        height: 600px;
    }
    #door-hint {
        left: 24%;
        top: 55%;
    }
    #welcome-msg {
        font-size: 3em;
    }
    #birthday-msgs .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1000px) {
    #birthday-msgs .card-columns {
        column-count: 3;
    }
    #door-container {
        width: 871px;
        height: 972px;
    }
    #door, #door_back {
        width: 651px;
        height: 804px;
    }
    #door-hint {
        left: 27%;
        top: 57%;
    }
}

@media (min-width: 1400px) {}